html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
}
.raleway, .raleway-bold {
    font-family: 'Raleway', sans-serif;
}
.raleway-bold {
    font-weight: bold;
}

h1 {
    font-size: 64px;
}

h2 {
    color: #a40605;
}
table, .icontext p {
    font-family: 'Economica', sans-serif;
    color: #090909;
}

table td {
    color: #676056;
}
table h2 {
    font-weight: bold;
    color: #090909;
}

.headder{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; 
    background-image: url('img/bgr1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-size: 30px;
    position: relative;
}
.flower{
    position: absolute;
    top: 50px;
    left: 100px;
    align-items: flex-start;
}
.flower img {
    width: 78px;
    height: auto;
}

.intro{
    display: flex;
    justify-content: center;
    
}

    

.btn{
    background-color: #a40605;
    color: white;
    box-shadow: 2px;
    box-shadow: white;
    height: 35px;
    border-radius: 7.5px;
    width: 200px;
    border: 1px solid;
    box-shadow: 1.5px 1.5px white;
    
}
.btn:hover{
    background-color: #a40605;
    text-decoration: underline;
}
.navigation {
    position: absolute;
    top: 50px;
    right: 100px; 
    font-size: 18px;   
}
.navigation a{
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-size: 18px;
    
}
.navigation a:hover{
    color: #a40605;
   
}
.order{
    width: 100%;
    color:#a20705;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 45px;
}
.orderIcon{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.icontext{
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    flex-direction: column;
}

.icontext p {
    text-align: center;
}
.menucard{
    background-image: url('img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    color:saddlebrown;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
   
}
.foodimg{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;

}
.footer a{
    color: white;
    padding-left: 50px;
    text-decoration: none;
    align-items: center;
}
.footer-children{
    width: 50%;
    color: white;
    justify-content: space-around;
}

.footer-children:last-child {
    text-align: center;
}

.footer a:hover{
    text-decoration: underline;
    color: red;

}

.adress{
    display: flex;
    flex-direction: row;
    font-size: 25px;

}

.location-logo{
    width: 25px;
    height: 35px;
}
.phone-icn{
    height: 20px;
    object-fit: cover;
}
table{
    padding: 150px;
    
}
.menuCardImage{
    object-fit: cover;
    width: 250px;   
    height: 250px;
    padding: auto;
}
.ordermenu{
    background-image: url('img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 45px;
}

.bestramen {
    font-size: 18px;
    text-align: center;
}

.adress.order span {

    color: #090909;
}